global
    log 127.0.0.1 local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  tcplog
    retries 3
    option  redispatch
    maxconn 2000
    timeout connect 5000
    timeout client 50000
    timeout server 50000


listen hdfs
    bind *:50070 
    mode http
    balance roundrobin
    timeout client 1h
    timeout server 1h
    option  clitcpka
    server  hadoop-master hadoop-master:50070  check inter 5s rise 2 fall 3
    server  hadoop-slave1 hadoop-slave1:50070  check inter 5s rise 2 fall 3
    server  hadoop-slave2 hadoop-slave2:50070  check inter 5s rise 2 fall 3	
	
listen yarn
    bind *:8088
    mode http
    balance roundrobin
    timeout client 1h
    timeout server 1h
    option  clitcpka
    server  hadoop-master hadoop-master:8088  check inter 5s rise 2 fall 3
    server  hadoop-slave1 hadoop-slave1:8088  check inter 5s rise 2 fall 3
    server  hadoop-slave2 hadoop-slave2:8088  check inter 5s rise 2 fall 3	
