global
    log 127.0.0.1 local0
    maxconn 4096

defaults
    log     global
    mode    http
    option  tcplog
    retries 3
    option  redispatch
    maxconn 2000
    timeout connect 5000
    timeout client 50000
    timeout server 50000


listen stats
    bind *:1080 # haproxy容器1080端口显示代理统计页面，映射到宿主9025端口
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth admin:admin
	
listen mariadb
    bind *:13306 
    mode tcp
    balance roundrobin
    timeout client 1h
    timeout server 1h
    option  clitcpka
    server  mariadb1 mariadb1:3306  check inter 5s rise 3 
    server  mariadb2 mariadb2:3306  check inter 5s rise 3
    server  mariadb3 mariadb3:3306  check inter 5s rise 3
